:root {
  --purple: #905CF7;
  --white: #FAFFFD;
  --pink: #FF99E8;
  --red: #A3004E;
  --green: #C2B200;
  --black: #000000;
}

.access-container {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
}

.access-number {
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  padding: 20px 10px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stats {
  text-align: center; /* Center-aligns text inside the element */
  margin: 20px auto; /* Sets top/bottom margin to 10px and auto-aligns left and right margins */
  font-size: 18px;
  color: var(--black);
  font-family: 'Roboto', sans-serif;
}

.stat-color {
  color: var(--purple);
  font-weight: bold;
}

.download-button {
  display: block;
  width: 100%;
  padding: 12px 20px;
  margin: 10px auto;
  font-weight: bold;
  color: var(--white);
  background-color: var(--purple);
  border: 2px solid var(--black);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'Roboto', sans-serif;
}

.download-button:hover {
  background-color: var(--pink);
  color: var(--white);
}