:root {
  --purple: #905cf7;
  --white: #fafffd;
  --pink: #ff99e8;
  --red: #a3004e;
  --green: #c2b200;
  --black: #000000;
}

body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: transparent;
}

.kite-logo {
  width: 6.5%;
  margin: 0;
  padding: 0;
  position: fixed;
  transform: translate(-10px,-15px);
}

.Upload-button {
  background-color: var(--purple);
  position: absolute;
  top: 50px;
  right: 50px; /* Adjust as needed for right-side margin */
  color: var(--white);
  padding: 10px 15px;
  border: 2px solid var(--black);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.Upload-button:hover {
  background-color: var(--pink);
}

.App-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 140px);
  background-color: transparent;
}

.code-input-container {
  text-align: center;
  margin-top: 30px;
  background-color: transparent;
}

.code-input-label {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  color: var(--black);
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  text-align: center;
}

.code-input-field {
  font-size: 18px;
  letter-spacing: 10px;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid var(--black);
  border-radius: 5px;
  width: 15vw;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: var(--black);
}

.code-input-field:focus {
  outline: none; /* Removes the default focus outline */
  background-color: transparent;
}

.password-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#password-input-box {
  text-align: center;
}

button.access-file-button {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px 20px;
  border: 2px solid var(--black);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  width: 80%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin-left: 1em;
}

button.access-file-button:hover {
  background-color: var(--pink);
}

.kite-link {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 40px;
  color: var(--white);
  text-decoration: none;
}

.input-with-icon {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%; /* or max-width if you prefer */
}

.code-input-field {
  padding-right: 30px; /* Adjust the padding to ensure text does not overlap the icon */
  width: calc(100% - 30px); /* Optional, adjust based on the padding and size of the icon */
}

.visibility-toggle {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: -10px;
  height: 100%; /* For vertical centering */
  display: flex;
  align-items: center; /* Ensures the icon is centered vertically */
}

