:root {
  --purple: #905cf7;
  --white: #fafffd;
  --pink: #ff99e8;
  --red: #a3004e;
  --green: #c2b200;
  --black: #000000;
}

.upload-container-uploadbox {
  display: flex;
  flex-direction: column; /* Stack vertically on smaller screens */
  align-items: center;
  justify-content: center; /* Center children vertically and horizontally */
  width: 60vw;
  height: 50vh;
  background-color: transparent;
  border-radius: 10px;
}

/*@media (min-width: 768px) {
  /* Adjust for larger screens */
/*.upload-container-uploadbox {
    flex-direction: row; /* Side by side for larger screens */
/*justify-content: space-evenly; /* Even spacing around children */
/*align-items: center; /* Align items at the center */
/*}
}*/

.unsupported-file-message {
  position: absolute;
  top: 20vh; /* Position at the top of the parent container */
  font-size: 2.5vh;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Adjust for exact centering */
  display: inline-block; /* Adjust width to fit content */
  text-align: center; /* Ensure the text is centered */
  color: var(--red);
  margin-bottom: 2vh;
  background-color: var(--white); /* Background color around the text */
  padding: 0.5vh 1vh; /* Add some space around the text */
  margin-top: 2vh; /* Adjust as needed for spacing from the top */
  border-radius: 1vh; /* Optional: Adds rounded corners for aesthetic */
}

.drop-zone {
  border-radius: 2vh;
  width: 70vw;
  padding: 3vh;
  text-align: center;
  background-color: var(--white);
  box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.1);
  font-family: "Roboto", sans-serif;
  margin-bottom: 2vh;
}

.drop-message {
  font-size: 2vh;
  font-family: "Roboto", sans-serif;
  color: var(--black);
  margin: auto;
}

.drop-zone.active {
  background-color: var(--purple);
  color: var(--white);
}

.upload-link {
  color: var(--purple);
  text-decoration: underline;
  cursor: pointer;
}

.file-input {
  opacity: 0; /* Hide the file input */
}

.file-display-container {
  margin-top: 2vh;
  overflow-y: auto; /* Enable scrolling for overflow */
  max-height: 30vh; /* Limit height and enable scroll */
}

.file-row {
  margin-bottom: 1vh;
  background-color: transparent;
  display: flex;
}

.file-row:hover {
  font-weight: bold;
  cursor: pointer;
}

.selectable-file-region {
  display: flex;
  background-color: transparent;
  width: 95%;
}

.delete-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--black);
  margin-right: 10px;
}

.delete-button:hover {
  color: var(--red);
}

.file-info {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.file-name,
.file-size {
  margin-left: 1vh;
  margin-right: 1vh;
}

.upload-actions-container {
  display: flex;
  flex-direction: column; /* This will ensure elements inside are stacked vertically */
  align-items: center; /* Center-align the items if desired */
  width: 100%; /* Take up full width to respect inner elements' margins */
}

.settings-container {
  width: auto; /* Adjust to content width */
  padding: 0.5em; /* Add padding around settings */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; /* Allow items to wrap as needed */
  justify-content: center; /* Center items horizontally */
  gap: 1px; /* Adjust gap between flex items to 5px */
  background-color: transparent; /* Ensuring the container is transparent */
}

.setting {
  width: 70vw;
  flex-basis: 50%;
  margin: 0px;
  background-color: transparent;
  padding: 0.5em;
  border: none;
}

.setting label {
  font-size: 1em;
  color: var(--black);
}

.setting input,
.setting select {
  width: 100%; /* Full width of their parent */
  font-size: 0.9em; /* Adjust for better readability */
  padding: 0.5em; /* Padding for text visibility */
  background-color: transparent; /* Input background */
  border-radius: 0.3em; /* Aesthetics */
  text-align: center; /* Text alignment */
  border: 1px solid var(--black); /* Adds a subtle border to inputs for definition */
}
/* Additional styles for responsiveness */
@media (max-width: 968px) {
  .setting {
    flex-basis: 100%; /* Each setting takes full width on smaller screens */
  }

  .password-container {
    width: auto; /* Allow the password container to adjust to content width */
  }
}

.setting select,
.setting input :hover {
  outline: none;
}

input:focus {
  outline: none;
}

/* Removing the increment/decrement arrows for number field inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.setting button {
  padding: 1vh 2vh;
  margin-top: 1vh;
}

.number-input {
  font-size: 14px;
  margin: 0px;
  min-width: 20vw;
}

.password-container {
  display: flex;
  margin-top: 4em;
  position: absolute;
  flex-direction: row; /* Align items horizontally */
  align-items: center; /* Center items vertically within the container */
  gap: 0px; /* Space between the checkbox/icon and the input field */
}

.password-symbol,
.password-input {
  margin: 0; /* Remove margin around the symbol and input for tighter spacing */
}

/* Ensuring the checkbox aligns well with the text */
.material-symbols-outlined {
  cursor: pointer; /* Make sure the icon feels clickable */
  vertical-align: middle; /* Align the icon with the middle of adjacent text/input */
}

/* Adjustments for the setting containers to better accommodate side-by-side layout */
.setting {
  display: flex;
  align-items: center; /* Align the label and the container vertically */
  gap: 3em; /* Space between the label and the password container */
}

.setting label {
  white-space: nowrap; /* Prevent the label from wrapping */
}

/* You might want to adjust the styles for the password-symbol to better fit the vertical layout */
.password-symbol {
  cursor: pointer; /* Ensures the cursor changes to a pointer when hovering over the icon */
  align-self: center; /* Centers the visibility icon horizontally within its container */
}

/* Pointer cursor and no ability to double-click highlight the symbols (checkbox and eye) */
.password-container > i :hover {
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.password-symbol {
  display: inline-flex;
  vertical-align: -16px !important;
}

.password-input {
  font-size: 14px;
  margin: 0px 4px;
}

.password-input:focus {
  outline: none;
}

.totalsize {
  padding-top: 2em;
  margin-bottom: 10px;
}

.total-size-color {
  font-weight: bold;
  color: var(--purple);
}

.upload-files {
  background-color: var(--purple);
  color: var(--white);
  padding: 10px 60px;
  border: 2px solid var(--black);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

button {
  transition: background-color 0.3s;
}

.upload-files:hover {
  background-color: var(--pink);
}
